/* Attribution: https://codepen.io/Cancepto/pen/OMQdJx */

body {
    background-color: #2F2F31;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #2F2F31;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2F2F31;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2F2F31;
  }
  