/* Attribution: */

body {
    /*Background simulating the sciblog page*/
    background-color: #dcdbe0;
    background-image: url("https://raw.githubusercontent.com/miguelgfierro/sciblog/main/img/blog_view2.png");
    background-size: 1200px;
    background-position: top;
    background-repeat: no-repeat;
    color: #100;
}

#modal-content {
    display: none;
}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    background-color: #e85f99;
    padding: 3px 3px;
    margin-left: -10px;
    margin-top: -9px;
    border: 2px solid #fff;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.close-button:hover {
    background-color: #af1c59;
    color: #fff;
    border: 2px solid #fff;
}