/* Attribution: */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: #000;
  }
  
  .ball {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow:
      0 0 20px #fff,
      -20px 0 80px #f0f,
      20px 0 80px #0ff,
      inset 0 0 50px #fff,
      inset 50px 0 80px #f0f,
      inset -50px 0 80px #0ff,
      inset 50px 0 300px #f0f,
      inset -50px 0 300px #0ff;
    animation: pulsate 6s linear infinite;
  }
  
  @keyframes pulsate {
    50% {
      box-shadow:
        0 0 20px #fff,
        20px 0 80px #f0f,
        -20px 0 80px #0ff,
        inset 0 0 50px #fff,
        inset -50px 0 80px #f0f,
        inset 50px 0 80px #0ff,
        inset -50px 0 300px #f0f,
        inset 50px 0 300px #0ff;
    }
  }