/* Initial styles*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-size: 100%;
  vertical-align: baseline;
  background-color: #f2f2f2;
}
/* Fonts */
@font-face {
  font-family: Latex;
  src: url(../font/cmunrm.woff);
}
@font-face {
  font-family: LatexBold;
  src: url(../font/cmunbx.woff);
}
@font-face {
  font-family: LatexItalic;
  src: url(../font/cmunti.woff);
}
@font-face {
  font-family: LatexBoldItalic;
  src: url(../font/cmunbi.woff);
}
/* Web styles */
.wrapper{
  width: 800px;
  margin: 0px auto;
}
h1,h2,h3,h4,h5,h6{
  font-family: Latex, Georgia, serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: inherit;
}
body {
  color: #100;
  font-family: Latex, Georgia, serif;
}
i,em{
  font-family: LatexItalic;
}
bi{
  font-family: LatexBoldItalic;
}
strong{
  font-family: LatexBold;
}
p {
  hyphens: auto;
  font-size: 16px;
  padding: 0 1rem;
  margin: 10px 0;
}
.main_title{
  margin-top:20px;
  margin-bottom: 10px;
}
.main_img{
  margin-top: 30px;
  float:left;
}
.description{
	margin-top:10px;
}
