/* Attribution: https://www.sitepoint.com/show-modal-popup-after-time-delay/ */

body,
html {
    font-family: arial;
    background: #fffff0;
    color: #8f1f08;
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

#container {
    width: 650px;
    padding: 10px;
    margin: 0 auto;
}

h1,
h2 {
    color: #2B292E
}

input {
    border: 1px solid #333;
    margin-bottom: 15px;
    min-width: 250px;
    padding: 8px;
}

.button {
    transition-duration: 0.4s;
    background: #720000;
    border: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

button.button:hover {
    background: #990000
}

#cboxLoadedContent {
    padding: 10px;
    background: #fffff0;
}

#modal-content {
    display: none;
}

#modal-content label {
    display: block;
    margin-bottom: 5px;
}

#modal-content input {
    width: 95%;
}